@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(55, 140, 231);
  z-index: 99;
  box-shadow: 5px 5px 5px rgb(103, 198, 227);
}
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: azure;
}
nav .logo a:hover {
  color: rgb(103, 198, 227);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

ul li a:hover {
  color: rgb(223, 245, 255);
}
